body {
	padding: 30px;
	height: 2000px;
}
.block {
	position: relative;
	border: 5px black;
	max-width: 800px;
	margin: 0 auto;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: 70px;
}
.block_1 {
	background-color: aquamarine;
	position: sticky;
	top: 0px;
	z-index: 1;

}
.block_2 {
	background-color: yellow;
	height: 50px;
	z-index: 2;
	position: sticky;
	top: 0px;
}
.block_3 {
	background-color: red;
	top: 50px;
	right: 100px;
	z-index: 3;
}